@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Fredoka:wght@300..700&family=Luckiest+Guy&display=swap");
@import "tailwindcss";

@theme {
	--color-primary: #e63946;
	--color-secondary: #f1c40f;
	--color-teriary: #1d4ed8;
	--color-success: #2ecc71;
	--color-warning: #f39c12;
	--color-error: #e91e63;
	--color-neutral: #f9fafb;
	--color-accent: #8e44ad;
	--color-grad-1: #ffeaa7;
	--color-grad-2: #fab1a0;
	--color-grad-3: #74b9ff;
	--font-title: "Luckiest Guy", cursive;
	--font-subtitle: "Chewy", system-ui;
	--font-body: "Fredoka", sans-serif;
}

.page {
	@apply flex items-center justify-center from-grad-1 via-grad-2 to-grad-3 h-svh w-svw bg-linear-to-br;
}

.modal {
  @apply border-2 rounded-2xl bg-neutral p-10 drop-shadow-[.25rem_.25rem_black];
}
